<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <link rel="icon" href="{{ '/assets/img/favicon.svg' | relative_url }}" type="image/svg+xml" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
